*{
	margin: 0;
	padding: 0;
}  
body{	
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

nav{
	background: #ababeb;	
	font-size: 25px;
	font-weight: 2em;
	color: #fff;
	padding: 15px 10px 15px 50px ;
}





/************  Entry.js  *****************/
.entry{
	max-width: 320px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 50px;
}
.search_box{
	width: 250px;
}
.search_box,.btn-search{
	padding: 3px 10px 3px 10px;
}

@media (max-width: 320px){
	.search_box{
		max-width: 70%;
	}
	.btn-search{
		width: 30%;
	}
}




/************  WeatherDisplay.js  ****************/
.loading-icon{
	position: absolute;
	top: 250px;	
	left: 45%;
	margin-left: auto;
	margin-right: auto;
}


.weath-disp{	
	width: 45%;
	position: relative;
	top:100px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}
.weath-disp-list li{	
	font-family: sans-serif;
	display: inline-block;
	cursor: pointer;	
	text-align: center;
}




/*********** Overlay.js *********/

.weather-item{
	opacity: 1;
	height: auto;
	position: relative;
	padding: 15px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.text-cont{
	transition:  .5s ease;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50%);
	-ms-transform: translate(-50%, -50%);
  	text-align: center;
}
.text{
	background: #666666;
	font-size: 14.5px;
	color: #fff;
	padding: 38px 43px;
}
.weather-item:hover{
	padding: 16px;
	opacity: .9;
	box-shadow: 0px 5px 12px 0px #f2f2f2 ;
}
.weather-item:hover .text-cont{
	opacity: .7;
} 



/*************  WeatherDetail.js  ****************/
.weather-detail{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 70px;
	align-self: center;
}
.weather-detail li{
	text-align: center;
	display: inline-block;
	position: relative;
	left: 10px;
	margin-left: 7px;
	margin-top: 7px;
	padding: 20px;
	box-shadow: 0px 5px 12px 0px #f2f2f2;
}
.day-name{
	text-align: center;
}

@media (min-width: 771px){
	.weather-detail ul{
		position: relative;
		left: 70px;
	}
}


.det-time{
	font-size: 14px;
}


/***************  Day.js  *****************/
.day{
	font-family: "arial";
	font-size: 16px;
	color: #cbcbcb;
	text-transform: capitalize;
}



/*********** Description.js  *************/
.weather_desc{
	font-size: 14px;
}

/**************  TempMax.js  **************/
.temp-max{
	font-size: 14.5px;
	color: #ababab;	
	font-weight: bold;
}



/**************  TempMix.js  **************/
.temp-min{	
	margin-left: 4px;
	font-size: 14.5px;
	color: #cbcbcb;
}


/*************** Return.js  *****************/
.return-btn{
	background: #ababeb;
	color: #fff;
	padding: 10px 25px 10px 25px;
	border: none;
	position: relative;
	top: 20px;
}
.ret-btn-cont{
	margin-bottom: 50px;
}

@media (min-width: 771px){
	.return-btn{
		position: relative;
		left: 80px;
	}
}
@media (min-width: 250px) and (max-width: 669px){
	.return-btn{
		width: 100%;
	}
		.ret-btn-cont{
		min-width: 100px;
	}
}



